/* styles/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background: white;
}

header, nav, footer {
  width: 100%;
}


.container-flex {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 2rem; 
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajustez cette valeur selon vos besoins */
  margin: 0 auto; /* Centrer horizontalement */
}