.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background: white;
}

.logo {
  height: 8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    height: 6rem;
  }
}
