.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: rgb(255, 228, 221);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 800px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.imageContainer {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.cardImgTop {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 600px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  text-align: center;
}

.cardBody {
  padding: 0;
  margin-top: 1rem;
}

.cardTitle {
  margin-bottom: 1rem;
  align-items: center;
}

.quantityContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.quantityControls {
  display: flex;
  align-items: center;
}

.quantityButton {
  background-color: #ffb6c1;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin: 0 0.5rem;
}

.quantity {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.buyButton {
  background: linear-gradient(to right, #ffb6c1, #ffdac1);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  cursor: pointer;
}

.readMoreButton {
  color: rgb(189, 108, 137);
  cursor: pointer;
  text-decoration: underline;
}

.price {
  margin-top: 1.5rem;
}

/* Styles spécifiques pour mobile */
@media (max-width: 576px) {
  .popupContent {
    flex-direction: column;
    width: 100%;
    height: 250%;
    padding: 1rem;
  }

  .imageContainer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .cardImgTop {
    max-height: 175px;
  }

  .contentContainer {
    width: 100%;
  }

  .quantityContainer {
    flex-direction: column;
    margin-top: 1rem;
  }

  .quantityContainer label {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .quantityControls {
    flex-direction: column;
  }

  .quantityButton {
    margin: 0.5rem 0;
  }
}
